body {
    background-image: url('../background/website-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button-container{
    border: 3px solid black;
    background-color: black;
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    padding: 10px; /* Optional: adds some space around the edges */
}

/*Home about us Contact us navigation*/
.nav{
    border: 2px solid black;
    padding: 1px;
    text-align: center;
    background-color: #e9d8a6;
}

/*Specify the removal of underline from buttons in div: Home about us Contact us navigation*/
.nav a {
    text-decoration: none; /* Removes underline */
    color: black;
    margin-right: 1%;
    line-height: 5%;
    font-weight: bold;
} 


/* Sup-Lin is Signup and Login */
.Sup-Lin{
    border: 2px solid black;
    padding: 1px; 
    justify-content: center;
    color: beige ; 
    text-decoration: none;
    margin-left: 10px;
}

.first_line {
    font-family: 'Times New Roman';
    color: red; 
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a {
    color: #ffffff; /* White color for the links */
    text-decoration: none; /* Removes underline */
}

.footer a:hover {
    text-decoration: underline; /* Adds underline on hover */
}

.footer p {
    margin: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}